In [1]:
import nltk
from nltk import bigrams, trigrams
from collections import Counter
import re
import sqlite3
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

db_path = '/Users/zphilipp/git/research/dealsdb/deals_db1.db'

prepositions_and_conjunctions = [
    "about", "above", "across", "after", "against", "along", "among", "around", "at",
    "before", "behind", "below", "beneath", "beside", "between", "beyond", "by",
    "during", "for", "from", "in", "inside", "into", "near", "of", "off", "on",
    "out", "outside", "over", "through", "throughout", "to", "toward", "under",
    "until", "up", "with", "within", "without", "and", "but", "or", "for", "nor",
    "so", "yet", "although", "because", "as", "since", "unless", "while", "when",
    "where", "after", "before", "the", "a", "b", "c", "d", "e", "f", "g", "h",
    "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w",
    "x", "y", "z"
]
pattern = r'\b(?:' + '|'.join(prepositions_and_conjunctions) + r')\b'

def remove_prepositions_and_conjunctions(text):
    cleaned_text = re.sub(pattern, '', text, flags=re.IGNORECASE)
    cleaned_text = re.sub(r'\d+', '', cleaned_text)
    return re.sub(r'\s+', ' ', cleaned_text).strip()


# Stáhněte potřebné zdroje NLTK (jen poprvé)
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/zphilipp/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

sql_query = """
    SELECT
        d.customer_category_id,
        d.title_general || ' ' || GROUP_CONCAT(d.title_general, ',') || ' ' || GROUP_CONCAT(o.title, ',') AS text
    FROM deals d
        JOIN customer_taxonomy c ON (d.customer_category_id=c.id)
        LEFT JOIN options o ON (d.deal_id=o.deal_id)
    GROUP BY customer_category_id
    -- LIMIT 100
"""

# Execute the query and load the data into a DataFrame
df = pd.read_sql_query(sql_query, conn)
conn.close()

In [3]:
def get_most_common_occurent(df, target_word):
    # Vyfiltrujte DataFrame, abyste získali pouze bigramy obsahující cílové slovo
    filtered_bigrams = df[df['text'].str.contains(target_word, case=False, na=False)]
    
    # Seřadíme podle frekvence 'value' v sestupném pořadí
    sorted_bigrams = filtered_bigrams[filtered_bigrams["value"] > 20].sort_values(by='value', ascending=False)

    return sorted_bigrams
        
def to_trigrams(text):
    text = remove_prepositions_and_conjunctions(text)
    if isinstance(text, list):
        text = " ".join(text)
    elif not isinstance(text, str):
        return []

    text = text.lower()
    text = re.sub(r'[^\w\s]', '', text)

    words = nltk.word_tokenize(text)
    bigrams_list = list(trigrams(words))
    bigram_counts = Counter(bigrams_list)
    sorted_bigrams = bigram_counts.most_common()

    return sorted_bigrams
    
def to_bigrams(text):
    text = remove_prepositions_and_conjunctions(text)
    if isinstance(text, list):
        text = " ".join(text)
    elif not isinstance(text, str):
        return []

    text = text.lower()
    text = re.sub(r'[^\w\s]', '', text)

    words = nltk.word_tokenize(text)
    bigrams_list = list(bigrams(words))
    bigram_counts = Counter(bigrams_list)
    sorted_bigrams = bigram_counts.most_common()

    return sorted_bigrams

In [4]:
df["bigrams"] = df["text"].apply(to_bigrams)
df["trigrams"] = df["text"].apply(to_trigrams)
df["bigrams"].count()

982

In [5]:
bigram_rows = []
for bigrams in df["bigrams"]:
    #print (bigrams)
    for (bigram, count) in bigrams:
        bigram_rows.append({"text": " ".join(bigram), "value": count})

bigram_df = pd.DataFrame(bigram_rows)
bigram_df = bigram_df.groupby('text', as_index=False)['value'].sum()
bigram_df.to_csv("models/top_bigrams.csv", index=False)

trigram_rows = []
for trigram in df["trigrams"]:
    #print (bigrams)
    for (trigram, count) in trigram:
        trigram_rows.append({"text": " ".join(trigram), "value": count})

trigram_df = pd.DataFrame(trigram_rows)
trigram_df = trigram_df.groupby('text', as_index=False)['value'].sum()
trigram_df.to_csv("models/top_trigram.csv", index=False)

In [20]:
for test_query in ['oli', 'oil', 'amc', 'valentine', 'park', 'mani', 'mac', 'banana', 'boaut']:
    print (f'------------------ Bigrams {test_query} -----------------------')
    print(get_most_common_occurent(bigram_df, test_query)[:5])
    print (f'------------------ Trigrams {test_query} -----------------------')
    print(get_most_common_occurent(trigram_df, test_query)[:5])

------------------ Bigrams oli -----------------------
                  text  value
745990     women solid   1420
98787     casual solid   1313
612564  solid sterling    888
612489      solid long    859
612416    solid casual    858
------------------ Trigrams oli -----------------------
                          text  value
1123464  solid sterling silver    758
812900        open front solid    502
1123349      solid long sleeve    499
1123317       solid high waist    448
1123446     solid short sleeve    420
------------------ Bigrams oil -----------------------
                 text  value
436822     oil change   3005
646232  synthetic oil   1091
202335  essential oil    986
162416    de toilette    830
436996        oil hot    486
------------------ Trigrams oil -----------------------
                         text  value
1184929  synthetic oil change    830
338469        eau de toilette    822
459074     full synthetic oil    558
576081     instant oil change    282
357732      essential oil hot    281
------------------ Bigrams amc -----------------------
               text  value
16213   amc classic     85
16238      amc dine     47
622497   square amc     23
------------------ Trigrams amc -----------------------
Empty DataFrame
Columns: [text, value]
Index: []
------------------ Bigrams valentine -----------------------
                       text  value
713461        valentine day    740
292021      heart valentine    160
369427      loves valentine    160
454214  oversized valentine    160
645453   sweetest valentine    100
------------------ Trigrams valentine -----------------------
                            text  value
1311992      valentine day shirt    320
526367       heart valentine day    160
663147       loves valentine day    160
830280   oversized valentine day    160
1362363      who loves valentine    160
------------------ Bigrams park -----------------------
                            text  value
468882       parking dailyhourly   2024
34316   availablereserve parking   2013
713576        valetevent parking    503
469026              parking four    503
675949              tour parking    282
------------------ Trigrams park -----------------------
                                         text  value
856661              parking dailyhourly rates   2024
59520    availablereserve parking dailyhourly   2013
941246         rates availablereserve parking   2013
856911                   parking four seasons    503
1312193               valetevent parking four    503
------------------ Bigrams mani -----------------------
                     text  value
260502       gel manicure    511
376807  manicure pedicure    337
552542     salon manipedi    202
377395   manipedi options    158
552541     salon manicure    133
------------------ Trigrams mani -----------------------
                         text  value
759095    nail salon manipedi    202
759094    nail salon manicure    132
469085  gel manicure pedicure     75
469046       gel manicure gel     55
469094   gel manicure regular     45
------------------ Bigrams mac -----------------------
                            text  value
372554               macbook pro    345
21775              apple macbook    267
372541               macbook air    165
525705  refurbishedapple macbook    156
525596       refurbapple macbook     53
------------------ Trigrams mac -----------------------
                                   text  value
668793                 macbook pro inch    266
38919                 apple macbook pro    168
562297  inchesrefurbished apple macbook    164
953877     refurbishedapple macbook pro    148
668770                 macbook air inch    144
------------------ Bigrams banana -----------------------
              text  value
41907  banana boat     30
------------------ Trigrams banana -----------------------
Empty DataFrame
Columns: [text, value]
Index: []
------------------ Bigrams boaut -----------------------
Empty DataFrame
Columns: [text, value]
Index: []
------------------ Trigrams boaut -----------------------
Empty DataFrame
Columns: [text, value]
Index: []